@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*------COMMON CLASSES-------*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 95%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.subtitle-text {
    font-size: 1.12rem;
    font-weight: 400;
    line-height: 1.31rem;
}

h1 {
    font-size: 4.37rem;
    font-weight: 400;
    line-height: 4.37rem;
}

.second-title {
    font-size: 3.43rem;
    font-weight: 400;
    line-height: 4rem;
    color: #16295B;
}

.item-title {
    font-size: 1.87rem;
    font-weight: 400;
    line-height: 2.18rem;
}

.footer-text {
    font-size: 0.87rem;
    font-weight: 400;
    line-height: 1.18rem;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.75rem;
}

.content-container {
    max-width: 60%;
    margin: 0 auto;
}

.line {
    border-top: 1px solid black;
    width: 35rem;
    display: inline-block;
    opacity: 0.4;
}

/*------COMMON CLASSES-------*/

/*------HEADER CLASSES-------*/

header {
    padding: 3rem 0 6.25rem 0;
    display: flex;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-self: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    gap: 1.87rem
}

.nav-item:not(.active) {
    color: #626570;
    transition: 0.5s ease;
}

.nav-item:hover:not(.active) {
    color: #16295B;
}

/*------HEADER CLASSES-------*/


/*------FIRST BLOCK CLASSES-------*/

.first-block {
    background-image: url("images/Main-page/background.jpg");
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 6.68rem 29rem 0 29rem;

}

.main-title {
    padding: 0 0 2.81rem 0;
}

.subtitle {
    padding: 0 10rem 6.75rem 10rem;
}

/*------FIRST BLOCK CLASSES-------*/

/*------ENTRY FORM CLASSES-------*/

.form-flex {
    display: flex;
    flex-direction: column;
}

.entry-form input {
    height: 2rem;
    border: none;
    border-bottom: 1px solid #265AA6;
    padding: 1rem 0 1rem 0;
    margin: 0 0 2.43rem 0;
}

.entry-form input {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.06rem;
}

.entry-form-title {
    padding: 6.25rem 0 3.12rem 0;
}

.entry-form button {
    padding: 0.625rem 3rem;
    border: none;
    background-color: #265AA6;
    border-radius: 50rem;
    font-size: 1rem;
    color: #fff;
    line-height: 1.12rem;
    font-weight: 400;
    margin: 0 0 6.25rem 0;
    transition: 0.5s ease;
}

.entry-form button:hover {
    cursor: pointer;
    background-color: #16295B;
}

/*------ENTRY FORM CLASSES-------*/

.advantages-block {
    background-color: #16295B;
    padding: 6.25rem 0;
}

.advantages-block .content-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.advantages-element {
    width: 30%;
}

.advantages-element-title {
    min-height: 4.5rem;
    color: #fff;
    padding: 2.12rem 0 1.25rem 0;
    border-top: 1px solid #fff;
}

.advantages-element-subtitle {
    color: #BEBEBE;
    margin: 0 0 7.75rem 0;
}

/*------ENTRY FORM CLASSES-------*/

.scholarship-block {
    display: flex;
    flex-direction: column;
    padding: 6.25rem 0;
}

.scholarship-header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 3.12rem 0;
}

.scholarship-block .content-container {
    display: flex;
    flex-direction: column;
}

.scholarship-subtitle {
    max-width: 35%;
    line-height: 1.56rem;
    color: #626570;
}

.scholarship-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-element:first-child {
    align-self: flex-start;
}

.content-element:last-child {
    align-self: flex-end;
}

.content-text {
    color: #16295B;
    margin: 0 2.25rem 0 0;
}

.content-number {
    font-size: 6rem;
    font-weight: 500;
    line-height: 7rem;
    color: #16295B;
}

/*------ENTRY FORM CLASSES-------*/

/*------SPECIALITIES CLASSES-------*/

.specialities-block {
    padding: 6.25rem 0;
    background-color: #436236;
}

.specialities-header {
    display: flex;
    padding: 0 0 3.12rem 0;
}

.specialities-title {
    color: #fff;
}

.specialities-subtitle {
    color: #fff;
    opacity: 0.2;
}

.specialities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.speciality {
    min-width: 30%;
    border-top: 1px solid #fff;
}

.speciality-title {
    padding: 2.12rem 0 1.25rem 0;
    color: #fff;
}

.speciality-salary {
    padding: 0 0 3.12rem 0;
    color: #BEBEBE;
}

/*------SPECIALITIES CLASSES-------*/

/*------STUDENTS CLASSES-------*/

.students-block {
    padding: 6.25rem 0 9.375rem 0;
}

.students-header {
    display: flex;
    padding: 0 0 3.125rem 0;
}

.students-subtitle {
    width: 35%;
    color: #626570;
}

.img-container {
    width: 100% !important;
    height: 230px !important;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img {
    width: 100%;
    object-fit: contain;
}

/*------STUDENTS CLASSES-------*/

/*------HELP CLASSES-------*/

.help-form-block {
    background-color: #16295B;
    padding: 5rem 0 2.81rem 0;
}

.help-header {
    max-width: 60%;
}

.help-form-title {
    color: #fff;
    padding: 0 0 1.1rem 0;
}

.help-form-subtitle {
    color: #fff;
}

.help-form {
    padding: 3.375rem 0 2.93rem 0;
}

.personal-agreement {
    max-width: 60%;
    color: #fff;
    opacity: 0.6;
}

.help-form input,
.help-form button {
    padding: 1.375rem 0 1.375rem 1.43rem;
    font-weight: 400;
    font-size: 0.8rem;
    border-radius: 3px;
    border: none;
    width: 20%;
    transition: 0.5s ease;
}

.help-form button {
    padding: 1.375rem 0 1.375rem 0;
    background-color: #fff;
}

.help-form button:hover {
    cursor: pointer;
    background-color: #0864ee;
}

.help-form input:not(:last-child) {
    margin: 0 1rem 0 0;
}

/*------HELP CLASSES-------*/

/*------OR CLASSES-------*/

.or-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.or-text {
    font-size: 1.75rem;
    line-height: 2.43rem;
    opacity: 0.4;
    padding: 1.875rem 3rem;
}

/*------OR CLASSES-------*/

/*------ADMISSIONS CLASSES-------*/

.admissions-block {
    max-width: 55%;
    margin: 0 auto 6.25rem;
    background-color: #16295B;
    padding: 3.18rem 3.375rem 4.68rem;
}

.admissions-title {
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.43rem;
    padding: 0 0 2.43rem 0;
}

.degrees {
    display: flex;
    justify-content: space-between;
}

.degree-item {
    width: 30%;
    text-align: center;
}

.degree-item button {
    width: 100%;
    background-color: #fff;
    border: none;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 1.31rem 0;
    transition: 0.5s ease;
}

.degree-item button:hover {
    cursor: pointer;
    background-color: #0864ee;
}

/*------ADMISSIONS CLASSES-------*/

footer {
    background-color: #F8F8F8;
    padding: 6.75rem 0 3.31rem 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    width: 60%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.18rem;
}

.footer-line {
    border-top: 1px solid #265AA6;
    width: 100%;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
}

.location-container {
    display: flex;
    max-width: 25%;
    gap: 0.8rem;
}

.location-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.18rem;
}

.tel-container {
    display: flex;
    max-width: 25%;
    gap: 0.8rem;
}

.text {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.8;
}

.number {
    font-size: 1rem;
    font-weight: 400;
}

.socials-container {
    display: flex;
    gap: 0.9rem;
}

.right-side {
    width: 20%;
}

@media (max-width: 320px), (max-width: 480px) {
    .container {
        min-width: 100%;
    }

    .logo {
        width: 200px;
    }

    .content-container {
        min-width: 90%;
    }

    .second-title {
        font-size: 2rem;
        line-height: 2rem;
    }

    /* HEADER */

    header {
        flex-direction: column;
    }

    .navigation {
        flex-direction: column;
    }

    /* HEADER */

    /* FIRST BLOCK */
    
    .first-block {
        width: 100%;
        padding: 6.68rem 4% 3rem 4%;
        text-align: center;
    }

    .main-title {
        font-size: 2.8rem;
        line-height: 1;
    }

    .subtitle {
        padding: 0;
        line-height: 1;
        font-size: 0.8rem;
    }

    /* FIRST BLOCK */

    /* ENTRY FORM */

    .entry-form-block {
        width: 100%;
        text-align: center;
    }

    /* ENTRY FORM */

    /* ADVANTAGES */

    .advantages-element {
        width: 100%;
    }

    /* ADVANTAGES */

    /* SCHOLARSHIP BLOCK */

    .scholarship-header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .scholarship-subtitle {
        max-width: 100%;
    }

    .scholarship-title {
        padding: 0 0 1rem 0;
    }

    .content-element:last-child {
        align-self: flex-start;
    }

    .content-number {
        font-size: 3rem
    }

    /* SCHOLARSHIP BLOCK */

    /* SPECIALITIES */

    .specialities-block {
        width: 100%;
    }

    .specialities-subtitle {
        display: none;
    }

    .speciality {
        width: 100%;
    }

    /* SPECIALITIES */

    /* STUDENTS */

    .students-header {
        flex-direction: column;
    }

    .students-title {
        padding: 0 0 1rem 0;
    }

    .students-subtitle {
        width: 100%;
    }

    /* STUDENTS */

    /* HELP */

    .help-header {
        max-width: 100%;
    }

    .help-form {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }

    .help-form input {
        width: 90%;
    }

    .help-form button {
        width: 98%;
    }

    .personal-agreement {
        max-width: 100%;
    }

    /* HELP */

    /* ADMISSION */

    .admissions-block {
        margin: 0 auto 3.25rem;
        max-width: 100%;
    }

    .degrees {
        flex-direction: column;
        gap: 1.2rem;
    }

    .degree-item {
        width: 100%;
    }

    /* ADMISSION */

    /* FOOTER */

    footer .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .top-section {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
    }

    .bottom-section {
        flex-direction: column;
        gap: 1.5rem;
    }

    .right-side {
        display: none;
    }

    /* FOOTER */
}